<div *ngIf="userData.isLoggedIn">
    <div class="row">
        <div class="col-2">
            <select id="transactions" multiple>
                <option selected>Transactions</option>
            </select>
        </div>
        <div class="col-5" *ngIf="userData.isLoggedIn">
            <label>Status: </label>
            <select [(ngModel)]="selectedStatus" (ngModelChange)="onSelect(selectedStatus, selectedType)">
                <option selected="selected"></option>
                <option *ngFor="let option of optionsStatus" [value]="option">
                    {{ option }}
                </option>
            </select>
            <label>Type: </label>
            <select [(ngModel)]="selectedType" (ngModelChange)="onSelect(selectedStatus, selectedType)">
                <option selected="selected"></option>
                <option *ngFor="let option of optionsType" [value]="option">
                    {{ option }}
                </option>
            </select>
        </div>
        <div class="col-5" *ngIf="userData.role==userRole.Admin">
            <input class="form-control" type="file" #fileInput />
            <button class="btn btn-primary import" (click)="uploadFile();">Import</button>
            <button class="btn btn-primary import" (click)="exportExcel();">Export</button>
        </div>
        <div class="col-5" *ngIf="userData.role==userRole.User">
            <div class="alert alert-primary text-center" role="alert">
                <h1>Welcome {{userData.firstName}}!</h1>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-10">
            <table id="excel-table" class="table">
                <tr class="btn-primary">
                    <th>TransactionId</th>
                    <th>Status</th>
                    <th>Type</th>
                    <th>ClientName</th>
                    <th>Amount</th>
                    <th *ngIf="userData.role==userRole.Admin">Action</th>
                </tr>
                <tr
                    *ngFor="let transaction of transactions | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                    <td>{{transaction.transactionId }}</td>
                    <td>{{transaction.status}}</td>
                    <td>{{transaction.type}}</td>
                    <td>{{transaction.clientName}}</td>
                    <td>{{transaction.amount}}</td>
                    <td *ngIf="userData.role==userRole.Admin">
                        <button type="button" class="btn btn-primary" title="edit"
                            (click)="openModal(transaction.id)">Edit</button>
                        <button type="button" class="btn btn-danger edit" title="delete transaction"
                            (click)="delete(transaction)">Delete</button>
                    </td>
                </tr>
            </table>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-8">
                    <ngb-pagination [collectionSize]="transactions.length" [(page)]="page" [maxSize]="5" [rotate]="true"
                        [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!userData.isLoggedIn" class="alert alert-danger text-center" role="alert">
    <h1>Not logged in, please log in to continue</h1>
  </div>