#transactions{
    width: 100%;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .edit{
      margin-left: 20px;
  }

  .form-control {
      width: min-content;
  }

  .import{
      margin: 5px;
  }

